/* ===========================
 table of contents
==============================
1. Left Section
2. Right Section ==> animation*/

section.hero {
  margin-top: 3rem;
}

/* ========================
    1. Left Section
=========================== */
section.hero .parent-avatar.flex {
  align-items: end;
  gap: 0.6rem;
  min-height: 150px;
}

section.hero .left-section {
  width: 70%;
  text-align: left;
}
 
section.hero .left-section .show-cv ,
section.hero .left-section .download-cv {
  text-decoration: none;
  background: var(--secondary);
  padding: 1em 1.5em;
  color: var(--blue);
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 2px;
  word-spacing: 4px;
  z-index: 1;
  border-radius: 40px;
  border: 2px solid var(--blue);
  transition-duration: 0.2s;
  display: block;
  width: fit-content;
  margin-inline: auto;
}
section.hero .left-section .download-cv { 
  margin-top: 4rem;
}
section.hero .left-section .show-cv { 
  margin-top: 1rem;
}
 
section.hero .left-section .show-cv:hover,
section.hero .left-section .download-cv:hover {
  background: var(--blue);
  color: var(--title);
  font-weight: bold;
}

section.hero .icon-verified {
  color: var(--blue);
  font-size: 1.1rem;
  margin-bottom: 0.3rem;
}

section.hero .avatar {
  width: 150px;
  border-radius: 50%;
  border: 1px solid darkorange;
  padding: 1px;
  box-shadow: 2px 2px 40px rgba(203, 200, 200, 0.586) inset;
}

section.hero h1.title {
  font-size: 2.85rem;
  line-height: 3.3rem;
  margin: 24px 0;
  color: var(--title);
  text-align: left;
}
section.hero h1.title.t1 {
  transition-duration: 0.9s;
}
section.hero h1.title.t1:hover {
  animation: reRotate 0.8s linear 1;
  color: var(--title);
  -webkit-text-stroke: 2px #000;
  -webkit-text-fill-color: var(--blue);
}
@keyframes reRotate {
  0% {
    transform: rotate(0deg);
  }
  33% {
    transform: rotate(5deg);
  }
  66% {
    transform: rotate(-5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
section.hero p.sub-title {
  color: var(--subtitle);
  font-size: 0.9rem;
  line-height: 1.65rem;
  margin-bottom: 32px;
}

/* ===================================
    2. Right Section ==> animation
====================================== */
section.hero .animation {
  width: 50%;
  height: 100%;
  margin-top: 1rem;
}
@media (max-width: 1029px) {
  section.hero .animation {
    width: 60%;
  }
  section.hero h1.title {
    font-size: 2.2rem;}
}
@media (max-width: 738px) {
  section.hero {
    flex-direction: column;
    align-items: center;
  }
  section.hero h1.title {
    text-align: center;
    font-size: 2.2rem;
    line-height: 30px;
  }
  section.hero p.sub-title {
    text-align: center;
  }
  section.hero .parent-avatar.flex {
    justify-content: center;
  }
  section.hero .animation {
    width: 100%;
  }
  
}

@media (max-width: 600px) {
  section.hero h1.title.t1,
  section.hero h1.title.t2 {
    font-size: 2.2rem;
  }
}
@media (max-width: 500px) {
  section.hero h1.title.t2 {
    font-size: 1.7rem;
  }
}
@media (max-width: 390px) {
 
  section.hero .left-section .show-cv,
  section.hero .left-section .download-cv {
    width: 85%;
    display: flex;
    justify-content: center;
    word-spacing: 0px;
  }
  section.hero .left-section {
    width: 95%;}
}